.contact-section {
    background-color: #0e0e10;
    color: white;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .contact-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
  }
  
  .contact-left {
    flex: 1;
  }



.contact-left h1{
    border-radius: 5%;
    color: #dbb418; /* Text color red */
    border: 2px solid #dbb418; /* Border color red */
    width: 70%;
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 300;
    font-size: 60px;
    margin-bottom: 0;
    position: relative;

  }
  
  .contact-left h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .contact-left p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .contact-right {
    flex: 1;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .contact-input {
    background-color: #1e1e1e;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .contact-input::placeholder {
    color: #888;
  }
  
  .btn {
    width: 140px;
    height: 50px;
    border-radius: 10%;
    background: #dbb418;
    z-index: 100;
    cursor: pointer;
    transition: 0.4s ease;
    filter: url("#goo");

    p {
        color: #913b72;
        font-size: 22px;
        line-height: 1;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }

    &:hover {
        box-shadow: 0px 1px 9px #80ece9;
    }

    &:active {
        transform: scale(0.9);
        box-shadow: -2px 2px 23px #80ece9;
    }
}

particle {
    position: absolute;
    background: #80ece9;
    left: 0;
    border-radius: 100%;
    pointer-events: none;
    top: 0;
    transform-style: preserve-3d;
    opacity: 0;
    box-shadow: 5px 5px 44px rgba(100, 155, 200, 1);
    z-index: 5;
    filter: url("#goo");
}

svg {
    position: absolute;
    top: -100%;
    left: -100%;
}



  @keyframes toot-animation {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }

  .email-link {
    display: inline-flex;
    align-items: center;
    color: #a1a1a1; /* text-neutrals-300 */
    transition: color 0.3s ease;
}

.email-link:hover,
.email-link:focus-visible {
    color: #f5f5f5; /* text-neutrals-50 */
}

.email-link svg {
    margin-right: 0.5rem; /* me-2 */
    display: inline;
    width: 1.25rem; /* size-5 */
    height: 1.25rem; /* size-5 */
}


@media only screen and (max-width: 900px) {
   
.contact-left h1{
    border-radius: 5%;
    color: #dc3545; /* Text color red */
    border: 2px solid #dc3545; /* Border color red */
    width: 80%;
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 200;
    font-size: 30px;
    margin-bottom: 0;
    position: relative;

  }
  }
  





