@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
 
* {
  margin: 0;
  padding: 0;

}  

body {
  font-family: "Source Sans Pro";
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #000;
  
}

#nav{
  background-color: #000;
}

.dark-mode #nav {
  background-color: #fff; /* Dark mode background color */
}

.dark-mode .navWrapper {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.dark-mode .headerWrapper h6{
  color: #000;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}


.navWrapper {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

}



.navWrapper a {
  color: black; /* Set the text color to black */
  text-decoration: none;
  margin-right: 20px;
}

#nav-icon span {
  background: black;
}

.navWrapper a:hover {
  color: #666; /* Light mode link hover color */
}



.headerWrapper h1 {
  color: #fff;
  font-size: 96px;
  font-weight: 700;
}

.headerWrapper h2 {
  color: #151515;
  font-size: 64px;
  font-weight: 700;
}

.headerWrapper h6 {
  color: #f9f8f8;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

p.description {
  color: #5A5A5A;
  font-size: 24px;
  font-weight: normal;
}

h1::selection {
  color: white;
  background: #272727;
}

h1::-moz-selection {
  color: white;
  background: #272727;
}

.section {
  width: 100vw;
  height: 100vh;
  min-height: 800px;
  background: white;
  position: relative;
}

.sectionWrapper {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.background {
  width: 100vw;
  height: 100vh;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  flex-direction: column;
}

nav {
  width: 100vw;
  height: 100px;
  background: white;
  position: absolute;
  top: 0;
  animation: 2s fadeInNav ease;
}

@keyframes fadeInNav {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    top: -25px;
  }
  100% {
    opacity: 1;
    top: 0;
  } 
}

.navWrapper {
  width: 85%;
  margin: auto;
  padding-top: 24px;
}

#logo {
  color: #fff;
  font-size: 30px;
  font-family: "Pacifico";
  font-weight: normal;
  text-decoration: none;
  z-index: 2;
}

.dark-mode #logo {
  color: #000;
  font-size: 30px;
  font-family: "Pacifico";
  font-weight: normal;
  text-decoration: none;
}

.right {
  float: right;
}

#nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  z-index: 2;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg) scale(0.4);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  margin-top: 10px;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.dark-mode #nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon.open span {
  background: white; 
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
  background: white;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
  background: white;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
  background: white;
}

.overlay {
  width: 100%;
  height: 100%;
  background: #151515;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  z-index: 1;
  visibility: hidden;
  display: flex;
  align-items: center;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
}



.overlay a {
  color: white;
  font-size: 54px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  margin-left: 135px;
  margin-bottom: 15px; 
  opacity: 10;
  transition: transform 0.2s ease;
  overflow: hidden;

}

.overlay p {
  color: #4B4B4B;
  font-size: 20px;
  font-weight: normal;
  position: absolute;
  bottom: 100px;
  margin-left: 135px;
  opacity: 0;
}

.overlay p.open {
  opacity: 1;
  animation: 1.70s fadeInCopyright ease;
}

@keyframes fadeInCopyright {
  0%{
    opacity: 0;
  }
  80%{
    opacity: 0;
    transform: translateY(-10px);
  }
  100%{
    opacity: 1;
  }
}

.overlay a:after {
  position: absolute;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: white;
  left: 0;
}

.overlay a:hover:after {
  width: 100%;
  left: 0;
}

.overlay a.open:hover {
  transform: translateY(2px);
}

.overlay a.open:nth-child(1) {
  opacity: 1;
  animation: 1s fadeInLinks1 ease;
}

@keyframes fadeInLinks1 {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
    transform: translateY(-10px);
  }
  100%{
    opacity: 1;
  }
}

.overlay a.open:nth-child(2) {
  opacity: 1;
  animation: 1.25s fadeInLinks2 ease;
}

@keyframes fadeInLinks2 {
  0%{
    opacity: 0;
  }
  60%{
    opacity: 0;
    transform: translateY(-10px);
  }
  100%{
    opacity: 1;
  }
}

.overlay a.open:nth-child(3) {
  opacity: 1;
  animation: 1.5s fadeInLinks3 ease;
} 
  
@keyframes fadeInLinks3 {
  0%{
    opacity: 0;
  }
  70%{
    opacity: 0;
    transform: translateY(-10px);
  }
  100%{
    opacity: 1;
  }
} 

#services {
  width: 201px;
  color: white;
  cursor:grab
}



#contactid {
  width: 187px;
  color: white;
  cursor:grab
}

#work{
  color: white;
  cursor:grab
  
}


.header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerWrapper {
  color: #fff;
  text-align: center;
  position: relative;
  padding: 56px 71px 128px 108px;
}

.headerWrapper h6 {
  animation: 1s fadeIn ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.headerWrapper h1 {
  color: #fff;
  animation: 1.5s fadeInTitle ease;
}

@keyframes fadeInTitle {
  0% {  
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.circle {
  border-radius: 50%;
	width: 100px;
	height: 100px; 
}

.circle.blue {
  background: linear-gradient(#4F3DD5, #3DB2D5);
  position: absolute;
  top: 21px;
  left: 0px;
  animation: circleBlueMove 2s ease;
  box-shadow: 3px 3px 15px rgba(61, 178, 213, 0.4);
}

@keyframes circleBlueMove {
  0% {
    opacity: 0;
    transform: translate(200px, 75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}

.circle.orange { 
  background: linear-gradient(#D53D3D, #D5B83D);
  position: absolute;
  bottom: 0px;
  right: 0px;
  animation: circleOrangeMove 2s ease;
  box-shadow: 3px 3px 15px rgba(213, 184, 61, 0.4);
}

@keyframes circleOrangeMove {
  0% {
    opacity: 0;
    transform: translate(-200px, -75px) rotate(90deg);
  }
  35% {
    opacity: 0;
    transform: translate(-200px, -75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}

.square {
  width: 100px;
  height: 100px;
}
 
.square.red {
  background: linear-gradient(135deg, #D53D3D, #D53DC9);
  position: absolute;
  top: 15px; 
  right: 15px;
  animation: squareRedMove 2s ease;
  box-shadow: 3px 3px 15px rgba(213, 61, 201, 0.4);
  transform: rotate(45deg);
} 

@keyframes squareRedMove {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    transform: translate(-200px, 75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}

.triangle svg {
  width: 175px;
  height: 175px;
  position: absolute;
  bottom: -17px; 
  left: -20px;  
  animation: triangleGreendMove 2s ease;
} 

@keyframes triangleGreendMove {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translate(200px, -75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}



@media (max-width: 850px) and (min-width: 440px){

.headerWrapper {
   position: static;
  padding: 0;
}
  
.overlay a {
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  margin-left: 40px;
  margin-bottom: 10px; 
  opacity: 10;
  transition: transform 0.2s ease;
  overflow: hidden;
}

.overlay p {
    margin-left: 40px;
}
  
#services {
  width: 134px;
  color: white;
}

#work {
  width: 150px;
  color: white;
}

#contactid {
  width: 125px;
  color: white;
}
   
h6 {
  font-size: 22px;
}
  
.headerWrapper h1 {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  animation: 1.5s fadeInTitle ease;
}
  
.circle {
  border-radius: 50%;  
	width: 75px;
	height: 75px; 
}

.circle.blue {
  background: linear-gradient(#4F3DD5, #3DB2D5);
  position: absolute;
  top: 129px;
  left: 50px;
  animation: circleBlueMove 2s ease;
  box-shadow: 3px 3px 15px rgba(61, 178, 213, 0.4);
}
 
@keyframes circleBlueMove {
  0% {
    opacity: 0;
    transform: translate(200px, 75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}

.circle.orange { 
  background: linear-gradient(#D53D3D, #D5B83D); 
  position: absolute;
  top: 520px;
  right: 50px;
  animation: circleOrangeMove 2s ease;
  box-shadow: 3px 3px 15px rgba(213, 184, 61, 0.4);
}

@keyframes circleOrangeMove {
  0% {
    opacity: 0;
    transform: translate(-200px, -75px) rotate(90deg);
  }
  35% {
    opacity: 0;
    transform: translate(-200px, -75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}

.square {
  width: 75px;
  height: 75px;
}
 
.square.red {
  background: linear-gradient(135deg, #D53D3D, #D53DC9); 
  position: absolute;
  top: 130px; 
  right: 50px; 
  animation: squareRedMove 2s ease;
  box-shadow: 3px 3px 15px rgba(213, 61, 201, 0.4);
  transform: rotate(45deg);
} 

@keyframes squareRedMove {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    transform: translate(-200px, 75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}

.triangle svg {  
  width: 125px;
  height: 125px;
  position: absolute;
  top: 480px;
  left: 25px;
  animation: triangleGreendMove 2s ease;
}

@keyframes triangleGreendMove {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translate(200px, -75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}
}

@media (max-width: 440px) {

  .background {
    max-height: 700px;
  }
  
  .headerWrapper {
    
    position: static;
    padding: 0;
  }
  
.overlay a {
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  margin-left: 40px;
  margin-bottom: 10px; 
  opacity: 10;
  transition: transform 0.2s ease;
  overflow: hidden;
}
  
.overlay p {
  margin-left: 40px;
  position: static;
  margin-top: 40px;
}
  
#services {
  width: 134px;
  color: white;
}

#work {
  width: 150px;
  color: white;
}

#contactid {
  width: 125px;
  color: white;
}
   
.headerWrapper h6 {
  color: #D6D6D6;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  animation: 1s fadeIn ease;
}
  
.headerWrapper h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  animation: 1.5s fadeInTitle ease;
}
  
.circle {
  border-radius: 50%;  
	width: 75px;
	height: 75px; 
}

.circle.blue {
  background: linear-gradient(#4F3DD5, #3DB2D5);
  position: absolute;
  top: 169px;
  left: 25px;
  animation: circleBlueMove 2s ease;
  box-shadow: 3px 3px 15px rgba(61, 178, 213, 0.4);
}
 
@keyframes circleBlueMove {
  0% {
    opacity: 0;
    transform: translate(100px, 75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}

.circle.orange { 
  background: linear-gradient(#D53D3D, #D5B83D); 
  position: absolute;
  top: 480px;
  right: 25px;
  animation: circleOrangeMove 2s ease;
  box-shadow: 3px 3px 15px rgba(213, 184, 61, 0.4);
}

@keyframes circleOrangeMove {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
    transform: translate(-100px, -75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}

.square {
  width: 75px;
  height: 75px;
}
 
.square.red {
  background: linear-gradient(135deg, #D53D3D, #D53DC9); 
  position: absolute;
  top: 170px; 
  right: 25px; 
  animation: squareRedMove 2s ease;
  box-shadow: 3px 3px 15px rgba(213, 61, 201, 0.4);
  transform: rotate(45deg);
} 

@keyframes squareRedMove {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    transform: translate(-100px, 75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}

.triangle svg {  
  width: 125px;
  height: 125px;
  position: absolute;
  top: 450px;
  left: 5px;
  animation: triangleGreendMove 2s ease;
}

@keyframes triangleGreendMove {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translate(100px, -75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}
  
  .square.blue {
    top: 30px;
    right: 10px;
    transform: translateX(60px);
  }
  
   .square.blue.in-view {
      transform: rotate(22.5deg) translateX(0px);
  }

}


toogleform, .toggle:before, .toggle:after {
	background: hsl(0,0%,90%);
}
toogleform, .toggle {
	position: relative;
}
toogleform {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  padding-top: 5%;
}
.curtain, .sr, .toggle:before, .toggle:after {
	position: absolute;
}
.curtain, .toggle:before, .toggle:after {
	transition: transform var(--dur);
}
.curtain, .toggle:before, .toggle:checked:after  {
	transition-timing-function: ease-out;
}

.sr, .toggle {
	overflow: hidden;
}
.sr {
	clip: rect(1px,1px,1px,1px);
	color: transparent;
	width: 1px;
	height: 1px;
}
.toggle {
	background: currentColor;
	border-radius: 0.75em;
	cursor: pointer;
	width: 3em;
	height: 1.5em;
  background-color: rgb(194, 189, 189);
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
}
.toggle:before, .toggle:after {
	border-radius: 50%;
	content: "";
	display: block;
	top: 0.25em;
	left: 0.25em;
  background-color: white;
	width: 1em;
	height: 1em;
}
.toggle:before, .toggle:checked:after {
	transition-delay: 0s;
}
.toggle:checked:before, .toggle:after {
	transition-delay: calc(var(--dur) * 0.75);
	transition-timing-function: cubic-bezier(0.3,1.6,0.5,0.7);

}
.toggle:before {
	transform: translateX(-1.5em);
}
.toggle:checked:before {
	transform: translateX(1.5em);
}
.toggle:checked:after {
	transform: translateX(3em);

}
.toggle:checked ~ .curtain {
	transform: scaleX(1);
}
.toggle:focus {
	outline: transparent;
}



.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 41%;
  left: 51%;
  margin: -4px 0 0 -4px;
  pointer-events: none;
  mix-blend-mode: screen;
  z-index: 10;
  box-shadow: 0px 0px 8px 0px #FDFCA9 inset, 0px 0px 24px 0px #FFEB3B, 0px 0px 8px 0px #FFFFFF42;
}

.button-wrapper {
  position: relative;
}

.button {

  position: relative;
  text-decoration: none;
  text-align: center;
  appearance: none;
  width: 150px;
  background-color: #eab308;
  display: inline-block;
  border-radius: 999px;
  text-decoration: none;
  color: white;
}

.button::before {
  content: "";
  box-shadow: 0px 0px 24px 0px #FFEB3B;
  mix-blend-mode: screen;
  transition: opacity 0.3s;
  background-color: #eab308;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 999px;
  opacity: 0;
}

.button::after {
  content: "";
  box-shadow: 0px 0px 23px 0px #FDFCA9 inset, 0px 0px 8px 0px #FFFFFF42;
  transition: opacity 0.3s;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 999px;
  opacity: 0;
}

.button-wrapper:hover .button::before,
.button-wrapper:hover .button::after {
    opacity: 1;
}

.button-wrapper:hover .dot {
    transform: translate(0, 0) rotate(var(--rotation));
}

.button-wrapper:hover .dot::after {
    animation-play-state: running;
}


.dot {
  display: block;
  position: absolute;
  transition: transform calc(var(--speed) / 12) ease;
  width: var(--size);
  height: var(--size);
  transform: translate(var(--starting-x), var(--starting-y)) rotate(var(--rotatation));
}

.dot::after {
  content: "";
  animation: hoverFirefly var(--speed) infinite, dimFirefly calc(var(--speed) / 2) infinite calc(var(--speed) / 3);
  animation-play-state: paused; 
  display: block;
  border-radius: 100%;
  background: yellow;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 6px 0px #FFEB3B, 0px 0px 4px 0px #FDFCA9 inset, 0px 0px 2px 1px #FFFFFF42;
}

.dot-1 {
  --rotatation: 0deg;
  --speed: 14s;
  --size: 6px;
  --starting-x: 30px;
  --starting-y: 20px;
  top: 2px;
  left: -16px;
  opacity: 0.7;
}

.dot-2 {
  --rotatation: 122deg;
  --speed: 16s;
  --size: 3px;
  --starting-x: 40px;
  --starting-y: 10px;
  top: 1px;
  left: 0px;
  opacity: 0.7;
}

.dot-3 {
  --rotatation: 39deg;
  --speed: 20s;
  --size: 4px;
  --starting-x: -10px;
  --starting-y: 20px;
  top: -8px;
  right: 14px;
}

.dot-4 {
  --rotatation: 220deg;
  --speed: 18s;
  --size: 2px;
  --starting-x: -30px;
  --starting-y: -5px;
  bottom: 4px;
  right: -14px;
  opacity: 0.9;
}

.dot-5 {
  --rotatation: 190deg;
  --speed: 22s;
  --size: 5px;
  --starting-x: -40px;
  --starting-y: -20px;
  bottom: -6px;
  right: -3px;
}

.dot-6 {
  --rotatation: 20deg;
  --speed: 15s;
  --size: 4px;
  --starting-x: 12px;
  --starting-y: -18px;
  bottom: -12px;
  left: 30px;
  opacity: 0.7;
}

.dot-7 {
  --rotatation: 300deg;
  --speed: 19s;
  --size: 3px;
  --starting-x: 6px;
  --starting-y: -20px;
  bottom: -16px;
  left: 44px;
}

@keyframes dimFirefly {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hoverFirefly {
    0% {
      transform: translate(0, 0);
    }
    12% {
      transform: translate(3px, 1px);
    }
    24% {
      transform: translate(-2px, 3px);
    }
    37% {
      transform: translate(2px, -2px);
    }
    55% {
      transform: translate(-1px, 0);
    }
    74% {
      transform: translate(0, 2px);
    }
    88% {
      transform: translate(-3px, -1px);
    }
    100% {
      transform: translate(0, 0);
    }
}