@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');


.dark-mode .background {
  background-color: #fff;
}

.dark-mode .navWrapper a {
  color: #000; 
}

.dark-mode .navWrapper a:hover {
  color: #fff; 
}

.dark-mode .headerWrapper h1 {
  color: #000; 

  
}

.dark-mode .services{
  background-color: black;
}


.home .container-fluid {
  height: 100%;
}

.home .row {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-white {
  background-color: #fff;
  color: #000;text-decoration: none;

  padding: 10px 20px; 
  border: 2px solid #000; 
  border-radius: 0; 
  transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out, transform 0.3s; /* Increase transition duration and use ease-in-out for smoother transition */
}






.btn-white:hover {
  background-color: #000;
  color: #fff;
  transform: translateX(5px); 
}

.mouse-trail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999; 
}

.star {
  transform-style: preserve-3d;
  width: 1px;
  height: 1px;
  position: absolute;
}

.star:before {
  position: absolute;
  content: '\2726';
  inset: 0;
}

.mainTxt{
  font-size: 80px;
}


.typing-text{
  display: flex;
  justify-content: center;
  color: white;
}
.typing-text::after {
  content: "|";
  animation: blink ease 1s infinite;
  
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  } 50% {
    opacity: 1;
  }
}




.btn-white:hover {
  background-color: #000;
  color: #fff;
  transform: translateX(5px); 
}

.mouse-trail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999; 
}

.star {
  transform-style: preserve-3d;
  width: 1px;
  height: 1px;
  position: absolute;
}

.star:before {
  position: absolute;
  content: '\2726';
  inset: 0;
}

.mainTxt{
  font-size: 80px;
}


@media only screen and (max-width: 900px) {
.secret{
  opacity: 0;
}
    }

  .secret{
    display: flex;
  justify-content: end;
  text-decoration: none;
  color: black;
  }


  .toolimg{
    width: 20px;
  }
  
 
  .tooltipcontainer {
    width: 100%;
    padding-top: 200px;
    text-align: center;
  }
  
 
  .tooltip-cont {
    position: relative;
    display: inline-block;
    padding-right: 10px;
  }
  

  .tooltip-cont .tt-text {
      font-family: verdana;
      font-size: 13px;
      visibility: hidden;
      min-width: 100%;
 
      width: 300px;
      background-color: #555;
      color: #fff;
      text-align: center;
      padding: 10px 20px;
      border-radius: 2px;
  
   
      position: absolute;
      z-index: 1;
    
    
      bottom: 125%;
      left: -565%;
      margin-left: -60px;
  

      opacity: 0;
      transition: opacity 1s;
  }

  .tooltip-cont .tt-text::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -10px;
      border-width: 10px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
  }
  

  .tooltip-cont:hover .tt-text,
  .tooltip-cont:active .tt-text{
      visibility: visible;
      opacity: 1;
  }
  
  @media (max-width: 240px) {
    .tooltip-cont .tt-text {
      width: 200px;
    }
  }
  @media (min-width: 241px) and (max-width: 319px) {
     .tooltip-cont .tt-text {
      width: 238px;
    }
  }
  @media (min-width: 320px) and (max-width: 767px) {
     .tooltip-cont .tt-text {
      width: 318px;
    }
  }
  @media (min-width: 768px) {
     .tooltip-cont .tt-text {
      width: 450px;
    }
  }

  
@media only screen and (max-width: 900px) {
   
 #logo{
  color: #fff;
    font-size: 20px;
    font-family: "Pacifico";
    font-weight: normal;
    text-decoration: none;
    z-index: 2;
 }

 .right{
  padding-right: 20px;
 }
 .headerWrapper h1{
  position: static;
  padding: 0;
  font-size: 30px;
 }

 .button{
  position: relative;
  text-decoration: none;
  text-align: center;
  appearance: none;
  width: 100px;
  font-size: 20px;
  background-color: #eab308;
  display: inline-block;
  border-radius: 20px;
  text-decoration: none;
  color: white;
 }

 .button::after {
  content: "";
  box-shadow: 0px 0px 23px 0px #FDFCA9 inset, 0px 0px 8px 0px #FFFFFF42;
  transition: opacity 0.3s;
  position: absolute;

}

.background{
  width: 100vw;
  height: 50vh;
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  flex-direction: column;
}
    }
    