.services {
    padding: 80px 0;
    background-color: black;
  }
  
  .section-header {
    text-align: center;
    margin-bottom: 50px;
  }
  .section-header h2{
    color: white;

  }
  
  .tag {
    font-size: 25px;
    border-radius: 5%;
    background-color: #f9fafc;
    color: #000;
    border: 2px solid rgb(8, 8, 8); 
    width: 30%;
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 200;
    margin-bottom: 0;
    position: relative;
    text-decoration: none;
    padding: 5px;
    border-radius: 10%;
  }
  

  
  h2 {
    font-size: 36px;
    margin: 10px 0;
  }
  
  .filter {
    padding: 10px 20px;
    border: 2px solid #4CAF50;
    border-radius: 25px;
    background-color: transparent;
    color: #f8f9f8;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .filter:hover {
    background-color: #090909;
    color: #fff;
  }
  
  .container {
    width: 90%;
    margin: auto;
  }
  
  .projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .projects {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
    margin-left: 5px; 
    padding-left: 5px;
  }
  
  .project-card {
    border-radius: 10px;
    overflow: hidden;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
  }
  
  .project-card img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
  }
  
  .project-info {
    padding: 20px;
  }
  
  .project-info span {
    font-size: 14px;
    color: #fff;
  }
  
  .project-info h3 {
    font-size: 20px;
    color: #fff;
    margin: 10px 0;
  }
  
  .project-info p {
    font-size: 16px;
    color: #fff;
  }
  

  *,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
}

.gallery {
  position: relative;
  z-index: 2;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
  transform: translateZ(0);
}

.gallery.pop {
  filter: blur(10px);
}

.gallery figure {
  flex-basis: 33.333%;
  padding: 10px;
  overflow: hidden;
  cursor: pointer;
}

.gallery figure img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.gallery figure figcaption {
  display: none;
}





@media only screen and (max-width: 900px) {
   
    .tag {
        font-size: 15px;
        border-radius: 5%;
        background-color:  white;;
        border: 2px solid white; /* Border color red */
        width: 30%;
        font-family: "Bowlby One SC", sans-serif;
        font-weight: 200;
        position: relative;
        text-decoration: none;
      }
      }
      